#cl {
    color: yellowgreen;
}
#sc:hover {
    background-color: palegreen;
}
.test {
    display: inline-block;
    background-color: lightgreen;
    padding: 50px;
    border-style: double;
    border-width: 5px 0;
    border-color: limegreen;
}
