#cl {
    color: yellowgreen;
}
#sc:hover {
    background-color: palegreen;
}
.test {
    display: inline-block;
    padding: 0;
    border-style: dotted;
    border-width: 5px 0;
    border-color: lightgreen;
}
